body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.hero {
    background: #fff6dc;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-style: italic;
    font-size: 40px;
    margin-bottom: 20px;
}

.hero button {
    background: red;
    color: black;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
     }

.nav {
    background: #ff8759;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.logo {
    font-size: 40px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.signin {
    background: red;
    color: white;
    padding: 20px 25px;
    border-radius: 15px;
    font-size: 20px;
}

/* Contact */
.contact {
    padding: 60px;
    background: #f2f2f2;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 22px;
    line-height: 1.6;
}
