* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img {
    height: 200px;
    float: left;
}

header {
    background-color: coral;
    border-bottom: 2px solid rgb(255, 162, 181);
}

.conteiner {
    background-color: coral;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 15px;
}

.conteiner:after {
    content: "";
    display: table;
    clear: both;
}

nav {
    background-color: coral;
    float: right;
}

nav {
    float: right;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: 200px;
    font-size: 20px;
    font-family: sans-serif;
    margin: 0px 10px;
    font-weight: 900;
}

nav li {
    display: inline-block;
}

a:hover {
    color: #000000;
}

nav ul li:last-child {
    background-color: red;
    border-radius: 10px;
}

.bg:hover .login{
    color: #fff;
}

.add_header{
    background-color: cornsilk;
    border-bottom: 2px solid black;
    text-align: center;

}

.slogan{
    font-size: 40px;
    font-family: sans-serif;
    font-style: italic;
    color: black;
    padding: 50px 0;
}


.add_header > .conteiner > a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 900;
}


.btn{
    background: red;
    font-size: 20px;
    width: 150px;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    margin-bottom: 50px;
}

.content {
    background-color: #fdeada;
}

.content > .container {
    background-color: #fdeada;
}

.articles {
    float: left;
    border: 1px solid black;
    width: 65%;
}

.sidebar {
    float: right;
    width: 35%;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid black;
}

.article {
    padding: 20px;
    margin: 10px 0;
    border: 1px solid black;
}

.article:after {
    content: "";
    display: table;
    clear: both;
}


.article_text {
    float: left;
    width: 400px;
    border: 1px solid black;
}

.article_img {
    width: 150px;
    height: 150px;
    float: right;
}

.article_img > img {
    width: 100%;
    height: 100%;
}

.content > .conteiner{
    background-color: rgb(206, 101, 63);
    
}